
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">

        <title>Opine Eventos</title>

        <!-- Bootstrap core CSS -->
        <link href="style/css/bootstrap.min.css" rel="stylesheet">

        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <link href="style/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

        <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
        <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
        <script src="style/js/ie-emulation-modes-warning.js"></script>

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Custom styles for this template -->
        <link href="style/css/carousel.css" rel="stylesheet">
    </head>
    <!-- NAVBAR
    ================================================== -->
    <body>

        <hr style="position: relative; margin-bottom: 5%;">


        <!-- Marketing messaging and featurettes
        ================================================== -->
        <!-- Wrap the rest of the page in another container to center all the content. -->

        <div class="container marketing">

            <!-- Three columns of text below the carousel -->
            <div class="row">
                <div class="col-lg-3">
                    <img class="img-circle" src="style/img/OpineEventos.JPG" alt="Generic placeholder image" width="140" height="140">
                    <h2>Teste2</h2>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-3">
                    <img class="img-circle" src="style/img/OpineEventos2.JPG" alt="Generic placeholder image" width="140" height="140">
                    <h2>Teste2</h2>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-3">
                    <img class="img-circle" src="style/img/OpineEventos3.JPG" alt="Generic placeholder image" width="140" height="140">
                    <h2>Teste2</h2>
                </div><!-- /.col-lg-4 -->
                
                <div class="col-lg-3">
                    <img class="img-circle" src="style/img/OpineEventos3.JPG" alt="Generic placeholder image" width="140" height="140">
                    <h2>Teste2</h2>
                </div><!-- /.col-lg-4 -->

            </div><!-- /.row -->

            <br><br><br>
           <div class="row">
                <div class="col-lg-3">
                    <img class="img-circle" src="style/img/OpineEventos.JPG" alt="Generic placeholder image" width="140" height="140">
                    <h2>Teste2</h2>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-3">
                    <img class="img-circle" src="style/img/OpineEventos2.JPG" alt="Generic placeholder image" width="140" height="140">
                    <h2>Teste2</h2>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-3">
                    <img class="img-circle" src="style/img/OpineEventos3.JPG" alt="Generic placeholder image" width="140" height="140">
                    <h2>Teste2</h2>
                </div><!-- /.col-lg-4 -->
                
                <div class="col-lg-3">
                    <img class="img-circle" src="style/img/OpineEventos3.JPG" alt="Generic placeholder image" width="140" height="140">
                    <h2>Teste2</h2>
                </div><!-- /.col-lg-4 -->

            </div><!-- /.row -->

            <!-- START THE FEATURETTES -->
            <hr class="featurette-divider">
            <!-- /END THE FEATURETTES -->

            <!-- FOOTER -->
            <footer>
                <p class="text-center">&copy; 2016 Opine Eventos.</p>
            </footer>

        </div><!-- /.container -->


    </body>
</html>
